<footer class="bootstrap-container-fluid bg-tertiary" role="contentinfo">
            <div id="contact" class="row pt-5">
                <div class="container pt-3 pb-3 text-white">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-xs-12 aboutUs-Content">
                            <h2 class="text-primary">About Us</h2>
                            <p>We are born out of the fusion of digital, data and design to help companies deliver personalisation at scale through the arts and sciences of tailoring customer experiences to individuals in real-time.
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 contactUs">
                            <h2 class="text-primary">Contact Us</h2>
                            <p>
                                e: <a href="mailto:personalisation@iamhelium.com.au">personalisation@iamhelium.com.au</a><br>
                            </p>
                            <p class="text-white">
                                22-24 Hutchinson St,<br>
                                Surry Hills Sydney NSW 2010
                            </p>
                            <p><a class="open-contact-form btn btn-primary mt-3 pl-4 pr-4" href="#contact-form">
                                Enquire now
                            </a></p>
                        </div>
                        <div class="col-lg-4 col-md-12 col-xs-12"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.1783111566874!2d151.2153246152107!3d-33.88506128065169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae1beacd94ff%3A0x54ae0bd4e0676ba3!2s22-24%20Hutchinson%20St%2C%20Surry%20Hills%20NSW%202010!5e0!3m2!1sen!2sau!4v1601341050107!5m2!1sen!2sau" width="400" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe></div>
                    </div>
                </div>
            </div>
        </footer>